Repository VincentArjuna/RexiErp: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, gosec, go-test, go-build, docker-compose-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        description: Remove trailing whitespace
      - id: end-of-file-fixer
        description: Ensure files end with newline
      - id: check-yaml
        description: Check YAML syntax
      - id: check-added-large-files
        description: Prevent large files from being committed
        args: ['--maxkb=10000']
      - id: check-merge-conflict
        description: Check for merge conflicts
      - id: check-case-conflict
        description: Check for case conflicts
      - id: check-json
        description: Check JSON syntax
      - id: pretty-format-json
        description: Pretty format JSON files
        args: ['--autofix', '--no-sort-keys', '--indent=4']
      - id: mixed-line-ending
        description: Check for mixed line endings
        args: ['--fix=lf']

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        description: Format Go code
        entry: gofmt
        language: system
        args: [-w]
        files: \.go$

      - id: go-vet
        name: go vet
        description: Go static analysis
        entry: go vet
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        description: Tidy Go module dependencies
        entry: go mod tidy
        language: system
        files: (go\.mod|go\.sum)$
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        description: Go linting
        entry: golangci-lint run --fix
        language: system
        files: \.go$
        pass_filenames: false

      - id: gosec
        name: gosec security scan
        description: Go security scanning
        entry: gosec
        language: system
        files: \.go$
        args: [-quiet, ./...]
        pass_filenames: false

      - id: go-test
        name: go test
        description: Run Go tests
        entry: go test
        language: system
        files: \.go$
        args: [-v, ./...]
        pass_filenames: false

      - id: go-build
        name: go build
        description: Verify Go code builds
        entry: go build
        language: system
        files: \.go$
        args: [-o, /dev/null, ./...]
        pass_filenames: false

      - id: docker-compose-check
        name: docker-compose config check
        description: Validate docker-compose configuration
        entry: docker-compose
        language: system
        files: docker-compose.*\.ya?ml$
        args: [-f, deployments/docker-compose/docker-compose.yml, config, -q]
        pass_filenames: false

      - id: yaml-lint
        name: yamllint
        description: YAML linting
        entry: yamllint
        language: system
        files: \.ya?ml$
        args: [-c, .yamllint.yml]

# Default configuration for pre-commit
default_stages: [commit]
fail_fast: false

Story 1 ready to Deploy to Production
  .gitignore
  Makefile
  docs/qa/gates/1.1.project-repository-development-setup-pass.yml
  docs/stories/1.1.project-repository-development-setup.md
  go.mod
  go.sum
Due: go-mod-tidy, yaml-lint

Add API Gateway Framework foundation and infrastructure updates
  deployments/docker-compose/docker-compose.yml
  deployments/docker-compose/docs/api/api-gateway-guide.md
  deployments/docker-compose/docs/deployment/local-development.md
  deployments/docker-compose/docs/monitoring/monitoring-guide.md
  deployments/docker-compose/monitoring/grafana/dashboards/nginx-dashboard.json
  deployments/docker-compose/monitoring/prometheus.yml
  deployments/docker-compose/nginx/docs/openapi.yaml
  deployments/docker-compose/nginx/error_pages/error.json
  deployments/docker-compose/nginx/nginx.conf
  deployments/docker-compose/nginx/static/swagger/index.html
  docs/qa/gates/1.2-api-gateway-framework-foundation.yml
  docs/qa/tasks/1.2-improvement-tasks-20251101.md
  docs/stories/1.1.project-repository-development-setup.md
  docs/stories/1.2.api-gateway-framework-foundation.md
  go.mod
  go.sum
  internal/shared/auth/apikey_middleware.go
  internal/shared/auth/apikey_middleware_test.go
  internal/shared/config/config.go
  internal/shared/config/config_test.go
  internal/shared/database/database.go
  internal/shared/database/database_test.go
  internal/shared/health/health.go
  internal/shared/health/health_test.go
  scripts/test-coverage.sh
  tests/api/gateway_api_test.postman_collection.json
  tests/integration/gateway_test.go
  tests/load/gateway_load_test.js
  tests/nginx/config_test.sh
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, gosec, go-test, go-build, docker-compose-check, yaml-lint

Update Story 1.4 status to Done - Production Ready
  docs/stories/1.4.database-data-access-layer.md
Due: none

Files not pushed
  docs/architecture/checklist-results-report.md
  docs/qa/gates/1.4-database-data-access-layer.yml
  go.mod
  go.sum
  internal/shared/config/config.go
  internal/shared/database/callbacks.go
  internal/shared/database/database.go
  internal/shared/database/database_test.go
  internal/shared/database/gorm.go
  internal/shared/database/health.go
  internal/shared/database/integration_test.go
  internal/shared/database/migrations.go
  internal/shared/database/migrations_test.go
  internal/shared/database/models.go
  internal/shared/database/models_test.go
  internal/shared/database/multidb.go
  internal/shared/database/seeding.go
  internal/shared/database/utils.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, gosec, go-test, go-build, yaml-lint

Story 1.5: Complete Logging & Monitoring Infrastructure Implementation
  deployments/docker-compose/docker-compose.yml
  deployments/docker-compose/monitoring/alertmanager.yml
  deployments/docker-compose/monitoring/grafana/dashboards/application-metrics.json
  deployments/docker-compose/monitoring/grafana/dashboards/business-metrics.json
  deployments/docker-compose/monitoring/grafana/dashboards/system-health.json
  deployments/docker-compose/monitoring/grafana/datasources/prometheus.yml
  deployments/docker-compose/monitoring/logstash/config/logstash.yml
  deployments/docker-compose/monitoring/logstash/pipeline/logstash.conf
  deployments/docker-compose/monitoring/prometheus.yml
  deployments/docker-compose/monitoring/prometheus/rules/alerts.yml
  docs/qa/gates/1.5-logging-monitoring-infrastructure.yml
  docs/stories/1.5.logging-monitoring-infrastructure.md
  go.mod
  go.sum
  internal/shared/logger/correlation.go
  internal/shared/logger/fields.go
  internal/shared/logger/logger.go
  internal/shared/logger/logger_test.go
  internal/shared/logger/middleware.go
  internal/shared/metrics/business.go
  internal/shared/metrics/metrics_test.go
  internal/shared/metrics/middleware.go
  internal/shared/metrics/prometheus.go
  internal/shared/tracing/jaeger.go
  internal/shared/tracing/propagation.go
  internal/shared/tracing/tracing_test.go
  tests/integration/monitoring_test.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, gosec, go-test, go-build, docker-compose-check, yaml-lint
